{% extends 'base.html' %}
{% block body_block %}
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">Review Site</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/list">게시물 목록</a></li>
                  <li><a href="/auth/signin">sign in</a></li>
                  <li><a href="/auth/signup">sign up</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to Review Community</h1>
            <p class="lead">원하는 제품을 검색하세요</p>
            
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div>
{% endblock %} 