<!-- {% extends 'base.html' %}
{% block body_block %} -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./cover_page.html">Review Site</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="link1"><a href="#">게시판 <span class="sr-only">(current)</span></a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./login.html">로그인</a></li>
            <li><a href="./signup2.html">회원가입</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <a href="./index">
      <img src="../img/logo.png" alt="Logo image" height="100", width="100">
    </a>
    <h1>여기는 인덱스 입니다.</h1>
    <a href="./signup.html" class="btn btn-primary">Join</a>
    <div class='row'>
    {% for review in reviews %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
              <div class="card-body">
                <h5 class="card-title">{{review.subject}}</h5>
                <p class="card-text">{{review.content}}</p>
                <a href="/reviews/{{review.id}}" class="btn btn-primary">Go</a>
                <!-- <form action="">
                    <input type="text" name="content"/>
                    <input type="submit">
                </form> -->
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}    
