<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Theme Template for Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="/static/read.css">
    <style>body {
        background-color: #333;
        padding-top: 70px;
        padding-bottom: 30px;
      }
      
      .theme-dropdown .dropdown-menu {
        position: static;
        display: block;
        margin-bottom: 20px;
      }
      
      .theme-showcase > p > .btn {
        margin: 5px 0;
      }
      
      .theme-showcase .navbar .container {
        width: auto;
      }

      .jumbotron{
        border-radius: 15px;
        padding-right:15px;
        padding-left:15px;
        font-size: xx-small;
        color : black;
        text-align:initial;
      }
      </style>
    
  </head>

  <body role="document">
    <div class="site-wrapper">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="/">Review Site</a></h3>
                    <nav>
                        <ul class="nav masthead-nav">
        
                
                        <li><a href="/list">게시물 목록</a></li>
        
                        {% if g.user %}
                        <li><a href="/auth/logout">Log out</a></li>
        
                        {% else %}
                        <li><a href="/auth/signin">sign in</a></li>
                        <li><a href="/auth/signup">sign up</a></li>
        
                        {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div style="margin-bottom: 50px;">

            </div>
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h2 style="text-align: center;">{{review.subject}}<h2>
                <p style="font-size: 12px; text-align: right; padding-right:15px;">작성자 : {{review.user.username}}</p>
                <p style="font-size: 12px; text-align: right; padding-right:15px;">{{review.create_date|datetime}}</p>
                <hr color = "black"></hr>
                <p style="text-align: initial;">
                    {{review.content|markdown}}
                </p>
            </div>
            <!-- <div class="jumbotron">
                <h1>{{review.id}}</h1>
                <p>{{review.subject}}</p>
                <p>{{ review.content|markdown }}</p>
            </div> -->
            <div class="jumbotron">
              {% for comment in review.review_set %}
              <span>{{comment.creator}} : {{comment.content}}<span>
              <span>{{comment.create_date|datetime}}<span>
              <a href="/comment/{{comment.id}}/delete">댓글삭제</a>
              {% endfor %}
              <form action="/reviews/{{review.id}}/comments" method='post'>
                  <input type="text" name="creator" placeholder="닉네임" style="width:100px"/>
                  <input type="text" name="content" placeholder="댓글" style="width:500px"/>
                  <input type='submit'/>
              </form>
            </div>
          </div> <!-- /container -->
        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
